<ion-header>
  <ion-toolbar>
    <ion-title>Countries App</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar #searchBar animated="true" placeholder="Search"
      (ionInput)="filterCountries($event.target.value)"></ion-searchbar>
    <ion-buttons slot="start">
      <ion-button (click)="toggleView()">

        {{ isHomePage ? 'View Favorites' : 'View all' }}

      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item-group *ngFor="let letter of letters">
      <ion-item-divider id="{{letter}}">
        <ion-label> {{letter}} </ion-label>
      </ion-item-divider>
      <ion-item-sliding *ngFor="let item of groupedCountries[letter]" (ionSwipe)="onItemDrag($event, item)">


        <slide-favorite [side]="'start'" [name]="favourites.includes(item)? 'heart' : 'heart-outline'"
          [color]="'success'" [message]="favourites.includes(item) ? 'Added!' : 'Not in favorite' "></slide-favorite>

        <slide-favorite [side]="'end'" [name]="favourites.includes(item) ? 'trash-outline': 'trash'"
          [color]="'danger'" [message]="favourites.includes(item) ? 'In favorite' : 'Removed!'"></slide-favorite>

        <ion-item (click)="viewMore(item)">
          <ion-avatar slot="start">
            <ion-img [src]="item?.flag" (ionError)="onImageError($event)"></ion-img>
          </ion-avatar>
          <country-details [item]="item" [isLoading]="isLoading" [loadingItem]="loadingItem" [isLoaded]="isLoaded"
            [loadedItem]="loadedItem">
          </country-details>

        </ion-item>
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>

  <div class="letter-nav">
    <ion-list>
      <ion-item *ngFor="let letter of letters" (click)="scrollToLetter(letter)">
        <ion-label>{{ letter }}</ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>