<ion-header>
  <ion-toolbar>
    <ion-title>Countries App</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar #searchBar animated="true" placeholder="Search" (ionInput)="filterCountries($event.target.value)"></ion-searchbar>
    <ion-buttons slot="start">
      <ion-button (click)="toggleView()">

        <p>{{ isHomePage ? 'View Favorites' : 'View all' }}</p>

      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item-group *ngFor="let letter of letters">
      <ion-item-divider id="{{letter}}">
        <ion-label> {{letter}} </ion-label>
      </ion-item-divider>
      <ion-item-sliding *ngFor="let item of groupedCountries[letter]" (ionSwipe)="onItemDrag($event, item)">
        <ion-item-options side="start">
          <ion-item-option>
            <ion-icon slot="icon-only" name="heart" color="success" *ngIf="favourites.includes(item)"></ion-icon>
            <span class="toggle-fav" *ngIf="favourites.includes(item)">Added!</span>
            <ion-icon slot="icon-only" name="heart-outline" color="success"
              *ngIf="!favourites.includes(item)"></ion-icon>

          </ion-item-option>
        </ion-item-options>
        <ion-item-options side="end">
          <ion-item-option>
            <ion-icon slot="icon-only" name="trash" color="danger" *ngIf="!favourites.includes(item)"></ion-icon>
            <span class="toggle-fav" *ngIf="!favourites.includes(item)">Removed!</span>
            <ion-icon slot="icon-only" name="trash-outline" color="danger"
              *ngIf="favourites.includes(item)"></ion-icon>

          </ion-item-option>
        </ion-item-options>

        <ion-item>
          <ion-avatar slot="start">
            <img [src]="item.flag" (error)="onImageError($event)" />
          </ion-avatar>
          <div class="country-details">
            <ion-label class="country-name">
              {{item.name}}
            </ion-label>
            <ion-button fill="clear" slot="end" (click)="viewMore(item)">
              <ion-icon name="arrow-forward"></ion-icon>
            </ion-button>
            <ion-spinner *ngIf="isLoading && loadingItem === item" name="lines"></ion-spinner>
            <span *ngIf="isLoaded && loadedItem === item">
              {{ item.population?.value === 0 ? 'Not Found' : item.population?.value?.toLocaleString() }}
            </span>
          </div>
        </ion-item>


      </ion-item-sliding>
    </ion-item-group>
  </ion-list>

  <div class="letter-nav">
    <ion-list>
      <ion-item *ngFor="let letter of letters" (click)="scrollToLetter(letter)">
        <ion-label>{{ letter }}</ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>