.letter-nav {
  position: fixed;
  top: 20%;
  right: 2%;
  max-height: 75%;
  overflow-y: scroll;
}

ion-item-option {
  background: none !important;
}

.country-details {
  display: flex;
  justify-content: space-between;
}
.country-name {
  margin-right: 10px;
}
.toggle-fav { 
  color: white;
}